[Unit]

Description= Script to shut the roof in unsafe conditions
After = network.target


[Service]
Type=simple
ExecStart=/usr/local/bin/slotisSafe.py
User=root
Restart=always

[Install]
WantedBy=default.target
